Web References/WSHQIWebService/default.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.axialabs.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.axialabs.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.axialabs.com/">
      <s:element name="route_Patient_AddNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patientProfile" type="tns:WS_Patient_AddNew_Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Patient_AddNew_Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="patientRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="birthDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="nationalIdentificationNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactAddressState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactTelephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactTelephone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactTelephone3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="occupation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="insuranceIdentificationNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="photograph" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark8" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark9" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_Patient_AddNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route_Patient_AddNewResult" type="tns:WS_Patient_AddNew_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Patient_AddNew_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginDetails" type="tns:WS_Login_Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Login_Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route_LoginResult" type="tns:WS_Login_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Login_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="patientRef" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_Patient_GetByPatientRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patientIdentifier" type="tns:WS_Patient_GetByPatientRef_Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Patient_GetByPatientRef_Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="patientRef" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_Patient_GetByPatientRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route_Patient_GetByPatientRefResult" type="tns:WS_Patient_GetByPatientRef_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Patient_GetByPatientRef_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="patient" type="tns:Patient" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Patient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="patientId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="patientRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="birthDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="nationalIdentificationNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactAddressState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactTelephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactTelephone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactTelephone3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="occupation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="insuranceIdentificationNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="photograph" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark8" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark9" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_Patient_GetByEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patientIdentifier" type="tns:WS_Patient_GetByEmail_Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Patient_GetByEmail_Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="contactEmail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_Patient_GetByEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route_Patient_GetByEmailResult" type="tns:WS_Patient_GetByEmail_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Patient_GetByEmail_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="patient" type="tns:Patient" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_Patient_Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patientProfile" type="tns:WS_Patient_Update_Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Patient_Update_Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="patientRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="birthDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="nationalIdentificationNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactAddressState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactTelephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactTelephone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contactTelephone3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="occupation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="insuranceIdentificationNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="photograph" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark8" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark9" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_Patient_UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route_Patient_UpdateResult" type="tns:WS_Patient_Update_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Patient_Update_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_HospitalRatingAssessment_AddNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingAssessment" type="tns:WS_HospitalRatingAssessment_AddNew_Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_HospitalRatingAssessment_AddNew_Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingResponses" type="tns:ArrayOfHospitalRatingResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHospitalRatingResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HospitalRatingResponse" nillable="true" type="tns:HospitalRatingResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HospitalRatingResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="hospitalRatingResponseId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingResponseRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingResponse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark3" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_HospitalRatingAssessment_AddNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route_HospitalRatingAssessment_AddNewResult" type="tns:WS_HospitalRatingAssessment_AddNew_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_HospitalRatingAssessment_AddNew_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_HospitalRatingResponse_Get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingResponseIdentifier" type="tns:WS_HospitalRatingResponse_Get_Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_HospitalRatingResponse_Get_Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingResponseRef" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_HospitalRatingResponse_GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route_HospitalRatingResponse_GetResult" type="tns:WS_HospitalRatingResponse_Get_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_HospitalRatingResponse_Get_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingResponse" type="tns:HospitalRatingResponse" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_HospitalRatings_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="route_HospitalRatings_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route_HospitalRatings_GetAllResult" type="tns:WS_HospitalRatings_GetAll_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_HospitalRatings_GetAll_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRatings" type="tns:ArrayOfHospitalRating" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHospitalRating">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HospitalRating" nillable="true" type="tns:HospitalRating" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HospitalRating">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="hospitalRatingId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingDepartment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark3" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_Hospitals_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="route_Hospitals_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route_Hospitals_GetAllResult" type="tns:WS_Hospitals_GetAll_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_Hospitals_GetAll_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitals" type="tns:ArrayOfHospital" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHospital">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Hospital" nillable="true" type="tns:Hospital" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hospital">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="hospitalId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_HospitalRatingResponseBatches_GetFromSinglePatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="batchIdentifier" type="tns:WS_HospitalRatingResponseBatches_GetFromSinglePatient_Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_HospitalRatingResponseBatches_GetFromSinglePatient_Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="patientRef" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_HospitalRatingResponseBatches_GetFromSinglePatientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route_HospitalRatingResponseBatches_GetFromSinglePatientResult" type="tns:WS_HospitalRatingResponseBatches_GetFromSinglePatient_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_HospitalRatingResponseBatches_GetFromSinglePatient_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingResponseBatches" type="tns:ArrayOfHospitalRatingResponseBatch" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHospitalRatingResponseBatch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HospitalRatingResponseBatch" nillable="true" type="tns:HospitalRatingResponseBatch" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HospitalRatingResponseBatch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dateTimeStamp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dateTimeStampRaw" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_HospitalRatingResponses_GetFromSingleHospital">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="responseSetIdentifier" type="tns:WS_HospitalRatingResponses_GetFromSingleHospital_Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_HospitalRatingResponses_GetFromSingleHospital_Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientRef" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dateTimeStamp" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="route_HospitalRatingResponses_GetFromSingleHospitalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route_HospitalRatingResponses_GetFromSingleHospitalResult" type="tns:WS_HospitalRatingResponses_GetFromSingleHospital_Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WS_HospitalRatingResponses_GetFromSingleHospital_Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="responseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="hospitalRatingResponses" type="tns:ArrayOfHospitalRatingResponse" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="route_Patient_AddNewSoapIn">
    <wsdl:part name="parameters" element="tns:route_Patient_AddNew" />
  </wsdl:message>
  <wsdl:message name="route_Patient_AddNewSoapOut">
    <wsdl:part name="parameters" element="tns:route_Patient_AddNewResponse" />
  </wsdl:message>
  <wsdl:message name="route_LoginSoapIn">
    <wsdl:part name="parameters" element="tns:route_Login" />
  </wsdl:message>
  <wsdl:message name="route_LoginSoapOut">
    <wsdl:part name="parameters" element="tns:route_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="route_Patient_GetByPatientRefSoapIn">
    <wsdl:part name="parameters" element="tns:route_Patient_GetByPatientRef" />
  </wsdl:message>
  <wsdl:message name="route_Patient_GetByPatientRefSoapOut">
    <wsdl:part name="parameters" element="tns:route_Patient_GetByPatientRefResponse" />
  </wsdl:message>
  <wsdl:message name="route_Patient_GetByEmailSoapIn">
    <wsdl:part name="parameters" element="tns:route_Patient_GetByEmail" />
  </wsdl:message>
  <wsdl:message name="route_Patient_GetByEmailSoapOut">
    <wsdl:part name="parameters" element="tns:route_Patient_GetByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="route_Patient_UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:route_Patient_Update" />
  </wsdl:message>
  <wsdl:message name="route_Patient_UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:route_Patient_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="route_HospitalRatingAssessment_AddNewSoapIn">
    <wsdl:part name="parameters" element="tns:route_HospitalRatingAssessment_AddNew" />
  </wsdl:message>
  <wsdl:message name="route_HospitalRatingAssessment_AddNewSoapOut">
    <wsdl:part name="parameters" element="tns:route_HospitalRatingAssessment_AddNewResponse" />
  </wsdl:message>
  <wsdl:message name="route_HospitalRatingResponse_GetSoapIn">
    <wsdl:part name="parameters" element="tns:route_HospitalRatingResponse_Get" />
  </wsdl:message>
  <wsdl:message name="route_HospitalRatingResponse_GetSoapOut">
    <wsdl:part name="parameters" element="tns:route_HospitalRatingResponse_GetResponse" />
  </wsdl:message>
  <wsdl:message name="route_HospitalRatings_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:route_HospitalRatings_GetAll" />
  </wsdl:message>
  <wsdl:message name="route_HospitalRatings_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:route_HospitalRatings_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="route_Hospitals_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:route_Hospitals_GetAll" />
  </wsdl:message>
  <wsdl:message name="route_Hospitals_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:route_Hospitals_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="route_HospitalRatingResponseBatches_GetFromSinglePatientSoapIn">
    <wsdl:part name="parameters" element="tns:route_HospitalRatingResponseBatches_GetFromSinglePatient" />
  </wsdl:message>
  <wsdl:message name="route_HospitalRatingResponseBatches_GetFromSinglePatientSoapOut">
    <wsdl:part name="parameters" element="tns:route_HospitalRatingResponseBatches_GetFromSinglePatientResponse" />
  </wsdl:message>
  <wsdl:message name="route_HospitalRatingResponses_GetFromSingleHospitalSoapIn">
    <wsdl:part name="parameters" element="tns:route_HospitalRatingResponses_GetFromSingleHospital" />
  </wsdl:message>
  <wsdl:message name="route_HospitalRatingResponses_GetFromSingleHospitalSoapOut">
    <wsdl:part name="parameters" element="tns:route_HospitalRatingResponses_GetFromSingleHospitalResponse" />
  </wsdl:message>
  <wsdl:portType name="HQIWebServiceSoap">
    <wsdl:operation name="route_Patient_AddNew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add New Patient</wsdl:documentation>
      <wsdl:input message="tns:route_Patient_AddNewSoapIn" />
      <wsdl:output message="tns:route_Patient_AddNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="route_Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Log in</wsdl:documentation>
      <wsdl:input message="tns:route_LoginSoapIn" />
      <wsdl:output message="tns:route_LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="route_Patient_GetByPatientRef">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Patient by PatientRef</wsdl:documentation>
      <wsdl:input message="tns:route_Patient_GetByPatientRefSoapIn" />
      <wsdl:output message="tns:route_Patient_GetByPatientRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="route_Patient_GetByEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Patient by Email</wsdl:documentation>
      <wsdl:input message="tns:route_Patient_GetByEmailSoapIn" />
      <wsdl:output message="tns:route_Patient_GetByEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="route_Patient_Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update Patient</wsdl:documentation>
      <wsdl:input message="tns:route_Patient_UpdateSoapIn" />
      <wsdl:output message="tns:route_Patient_UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatingAssessment_AddNew">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add New Hospital Assessment</wsdl:documentation>
      <wsdl:input message="tns:route_HospitalRatingAssessment_AddNewSoapIn" />
      <wsdl:output message="tns:route_HospitalRatingAssessment_AddNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatingResponse_Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a singular Hospital RatingResponse - it may or may not belong to the current user</wsdl:documentation>
      <wsdl:input message="tns:route_HospitalRatingResponse_GetSoapIn" />
      <wsdl:output message="tns:route_HospitalRatingResponse_GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatings_GetAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all Hospital Ratings</wsdl:documentation>
      <wsdl:input message="tns:route_HospitalRatings_GetAllSoapIn" />
      <wsdl:output message="tns:route_HospitalRatings_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="route_Hospitals_GetAll">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all Hospitals</wsdl:documentation>
      <wsdl:input message="tns:route_Hospitals_GetAllSoapIn" />
      <wsdl:output message="tns:route_Hospitals_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatingResponseBatches_GetFromSinglePatient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get All HospitalRatingResponse Batches - Single Patient</wsdl:documentation>
      <wsdl:input message="tns:route_HospitalRatingResponseBatches_GetFromSinglePatientSoapIn" />
      <wsdl:output message="tns:route_HospitalRatingResponseBatches_GetFromSinglePatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatingResponses_GetFromSingleHospital">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get All HospitalRatingResponses - Single Hospital</wsdl:documentation>
      <wsdl:input message="tns:route_HospitalRatingResponses_GetFromSingleHospitalSoapIn" />
      <wsdl:output message="tns:route_HospitalRatingResponses_GetFromSingleHospitalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HQIWebServiceSoap" type="tns:HQIWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="route_Patient_AddNew">
      <soap:operation soapAction="http://www.axialabs.com/route_Patient_AddNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_Login">
      <soap:operation soapAction="http://www.axialabs.com/route_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_Patient_GetByPatientRef">
      <soap:operation soapAction="http://www.axialabs.com/route_Patient_GetByPatientRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_Patient_GetByEmail">
      <soap:operation soapAction="http://www.axialabs.com/route_Patient_GetByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_Patient_Update">
      <soap:operation soapAction="http://www.axialabs.com/route_Patient_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatingAssessment_AddNew">
      <soap:operation soapAction="http://www.axialabs.com/route_HospitalRatingAssessment_AddNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatingResponse_Get">
      <soap:operation soapAction="http://www.axialabs.com/route_HospitalRatingResponse_Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatings_GetAll">
      <soap:operation soapAction="http://www.axialabs.com/route_HospitalRatings_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_Hospitals_GetAll">
      <soap:operation soapAction="http://www.axialabs.com/route_Hospitals_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatingResponseBatches_GetFromSinglePatient">
      <soap:operation soapAction="http://www.axialabs.com/route_HospitalRatingResponseBatches_GetFromSinglePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatingResponses_GetFromSingleHospital">
      <soap:operation soapAction="http://www.axialabs.com/route_HospitalRatingResponses_GetFromSingleHospital" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HQIWebServiceSoap12" type="tns:HQIWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="route_Patient_AddNew">
      <soap12:operation soapAction="http://www.axialabs.com/route_Patient_AddNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_Login">
      <soap12:operation soapAction="http://www.axialabs.com/route_Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_Patient_GetByPatientRef">
      <soap12:operation soapAction="http://www.axialabs.com/route_Patient_GetByPatientRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_Patient_GetByEmail">
      <soap12:operation soapAction="http://www.axialabs.com/route_Patient_GetByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_Patient_Update">
      <soap12:operation soapAction="http://www.axialabs.com/route_Patient_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatingAssessment_AddNew">
      <soap12:operation soapAction="http://www.axialabs.com/route_HospitalRatingAssessment_AddNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatingResponse_Get">
      <soap12:operation soapAction="http://www.axialabs.com/route_HospitalRatingResponse_Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatings_GetAll">
      <soap12:operation soapAction="http://www.axialabs.com/route_HospitalRatings_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_Hospitals_GetAll">
      <soap12:operation soapAction="http://www.axialabs.com/route_Hospitals_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatingResponseBatches_GetFromSinglePatient">
      <soap12:operation soapAction="http://www.axialabs.com/route_HospitalRatingResponseBatches_GetFromSinglePatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="route_HospitalRatingResponses_GetFromSingleHospital">
      <soap12:operation soapAction="http://www.axialabs.com/route_HospitalRatingResponses_GetFromSingleHospital" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HQIWebService">
    <wsdl:port name="HQIWebServiceSoap" binding="tns:HQIWebServiceSoap">
      <soap:address location="http://50.56.227.124/hqiwebservice/default.asmx" />
    </wsdl:port>
    <wsdl:port name="HQIWebServiceSoap12" binding="tns:HQIWebServiceSoap12">
      <soap12:address location="http://50.56.227.124/hqiwebservice/default.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>